:root {
  --blue: #004666;
  --red: #e31837;
  --main: #3d98c1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 'Circular Std', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
#navbar {
  background-color: var(--blue);
  width: 100%;
  /* position: absolute; */
  z-index: 100;
}
#navbar ul {
  display: flex;
  justify-content: space-evenly;
}
#navbar ul li {
  padding: 8px;
  list-style-type: none;
  display: flex;

}
#navbar ul li a {
  padding: 20px;
  text-decoration: none;
  font-family: 'Circular Std', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 16px;
  color: #fff;
  
}
.nav-link:hover {
  background-color: var(#00628f);

  opacity: 0.7;
}
#navbar ul li img {
  width: 75%;
}
#menu {
  /* padding-top: 150px; */
}
.normal {
  color: #e31837;
  font-size: 17px;
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 10px;
}
.biger {
  color: #e31837;
  font-size: 17px;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 10px;
}
.basic {
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  padding: 10px 10px;
  border-top-right-radius: 10px;
  background: #004666;
  border: none;
}
#header {
  width: 100%;
  height: 80px;
  background: var(--blue);
  /* position: fixed;
  z-index: 100; */
}
body {
  background-image: url(img/background1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}
.hero {
  width: 100%;
  padding: 30px 0px;
  display: flex;
}
.banner_menu {
  width: 100%;
  max-width: 280px;
  height: auto;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 10px;
}

.banner_menu img {
  width: 100%;
  height: auto;
  background-size: contain;
  background-position: center;

  padding: 30px;
}
.content_menu {
  width: 850px;
  height: 500px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 40px;
  position: relative;
}
.space {
  width: 20%;
  height: 3px;
  border-bottom: 1px solid #fff;
}
.bigsize {
  height: 700px;
}
.content_menu h3 {
  font-size: 40px;
  color: var(--main);
  cursor: pointer;
  /* background: #fff; */
  margin-bottom: 50px;
}

.content_menu p {
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
}
.content_menu .btn {
  margin-top: 10px;
  transition: 0.3s ease;
  border: 1px solid #fff;
  margin-top: 10px;
}

.content_menu .btn:hover {
  color: #fff;
  background: #e31837;
}




/* voucher */
.card_voucher{
  position: relative;
  
}
.card_body {
  width: 760px;
  height: 263px;
  border: 1px solid #717273;
  padding: 5px;
  border-radius: 10px;
  max-width: 1200px;
  margin: 100px auto;
}
.small_card {
  background: #f2f4f8;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 40px 100px;
}
.small_card h3 {
  color: #000;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 40px;
}
.small_card input {
  margin-top: 40px;
  width: 380px;
  height: 40px;
  border: none;
}




#footer{
  width: 100%;
  height: 40vh;
  background:#004666;
}
.text{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 50px 0px;
  }
.text h3{
  color: #fff;
  font-size: 17px;
  font-weight: 400;

} 
.text .fa-brands{
  color: #fff;
  font-size: 25px;
  padding: 0 40px;
}

.col {
  display: flex;
}

.cover_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.text {
  display: flex;
  flex-wrap: wrap;
}
.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 30px;
  color: #fff;
  
}
.domino_footer{
  width: 100px;
  height: 100px;
}
.phone p {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  
}
.call_footer{
  text-align: center;
}
.call_footer span {
  text-align: center;
  color: yellow;
  font-size: 50px;
  padding-left: 30px;
}

.col_footer li {
  list-style-type: none;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  padding: 10px 40px;
  transition: all 0.3s ease;
}
.col_footer li:hover{
  color: yellow;
  
}
.buyproduct {
  background-position: cover;
  background-size: center;

}