* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Circular Std', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  #navbar {
    background-color: #004666;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  #navbar ul {
    display: flex;
    justify-content: space-evenly;
  }
  #navbar ul li {
    padding: 8px;
    list-style-type: none;
    display: flex;
  
  }
  #navbar ul li a {
    padding: 20px;
    text-decoration: none;
    font-family: 'Circular Std', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 16px;
    color: #fff;
    
  }
  .nav-link:hover {
    background-color: var(#00628f);
  
    opacity: 0.7;
  }
  #navbar ul li img {
    width: 75%;
  }

/* ---------- Container ---------- */

#container {
    background-color: var(--grey-lightest);
}

.product__layout {
    background: url(https://dominos.vn/img/bg/deep-see.png) no-repeat;
    background-size: cover;
    background-position: 100%;
}

.product__layout--search {

}

.product__layout--input {
    padding: 6rem 0;
}

.selection__list {
    justify-content: center; 
}

.selection__list--modal {
    position: relative;

    margin: 8px;
}

.selection__list--item {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.selection__list--btn {
    display: flex;
    list-style: none;
    margin: 0 1.6rem;
}








/* ---------- Product view---------- */

.product__view {
  

}

.product__filter {
    display: flex;
}

.product__filter--list {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.product__categories {
    margin: 0 10rem;
    padding: 0 1.6rem;
}

.product__filter--menu {
    display: flex;
    align-items: center;
}

.product__filter--item {
    list-style: none;
    font-weight: 500;
}

.product__filter--link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 2rem;
    font-size: 2rem;
    color: var(--black-color);
    background-color: var(--white-color);
    padding: 1rem 1.4rem;
    border-radius: 0.8rem;
    border: 1px solid var(--border-grey-lighter);
}

.product__filter--link:hover {
    color: #212529;
    background-color: #e6e6e6;
}

.tag--logo {
    height: 20px;
    width: 20px;
    margin-right: 6px;
}

/* category heading */

.category__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 2rem 0;
}

.category__heading--categories {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hr {
    text-align: center;
    position: relative;
    z-index: 0;
}

.hr::before {
    content: "";
    background: radial-gradient( 50% 50% at 50% 50%, rgba(188, 193, 203, 0.4) 0%, #f2f4f8 100% );
    position: absolute;
    left: 0;
    top: calc(50% + 1px);
    width: 100%;
    height: 1px;
    z-index: -1;
}

.hr__content {
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2.4rem;
    background-color: var(--grey-lightest);
}

.category__sizing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.category__sizing--list {
    display: flex;
}

.category__sizing--item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    list-style: none;
    font-weight: 600;
    font-size: 1.6rem;
}

.category__sizing--size {
    margin-right: 8px;
}

.item__text {
    color: var(--text-mustard);
}

.coin__text {
    color: var(--black-color);
}

/* ---------- category products ---------- */

.category__products {
    display: flex;
    flex-wrap: wrap;
}

.product__grid {
    display: flex;
}

.flex__fit {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-right: 15px;
    padding-left: 15px;
}

.flex__fit .product__card {
    border-color: #dfe4ea;
    border-radius: 0.5rem;
    position: relative;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card__img {
    overflow: hidden;
    position: relative;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.resize__img {
    overflow: hidden;
    position: relative;
}

.resize__img img {
    max-width: 100%;
    height: 100%;
    max-height: 210px;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.resize__img:hover img {
    transform: scale(1.1);  
    transition-duration: 400ms;
}

.card__body {
    padding: 1.6rem 0.5rem 2rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card__body .product__name {
    text-decoration: none;
}

.card__body {
    flex: 1 1 auto;
    min-height: 1px;
}

.product__name {
    font-weight: bold;
    text-transform: uppercase;
    color: #0078ae;
    line-height: 2.4rem;
    letter-spacing: 0.8px;
    margin-bottom: 2rem;
    font-size: 14px;
    height: 48px;
}

.product__name:hover {
    color: #0056b3;
    text-decoration: underline;
}

.product__price {
    font-style: normal;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 20px;
    color: var(--black-color);
}


#footer{
    width: 100%;
    height: 40vh;
    background:#004666;
    
  }
  .text{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 50px 0px;
    }
  .text h3{
    color: #fff;
    font-size: 17px;
    font-weight: 400;
  
  } 
  .text .fa-brands{
    color: #fff;
    font-size: 25px;
    padding: 0 40px;
  }
  /* .container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  } */
  .col {
    display: flex;
  }
  
  .cover_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .text {
    display: flex;
    flex-wrap: wrap;
  }
  .phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-size: 30px;
    color: #fff;
    
  }
  .domino_footer{
    width: 100px;
    height: 100px;
  }
  .phone p {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
    
  }
  .call_footer{
    text-align: center;
  }
  .call_footer span {
    text-align: center;
    color: yellow;
    font-size: 50px;
    padding-left: 30px;
  }
  
  .col_footer li {
    list-style-type: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 40px;
    transition: all 0.3s ease;
  }
  .col_footer li:hover{
    color: yellow;
    
  }
  .buyproduct {
    background-position: cover;
    background-size: center;
  
  }